* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Additional styles can be added here */
}
body{
    background-color: lavender;
}
.Category_title{
    margin: 50px;
}
.course_container{
    border: 3px solid;
    border-color: rgb(171, 171, 196);
    border-radius: 10px;
    display: flex;
    width:1150px;
    margin-left: 50px;
    background-color: #000000;
    color: lavender;
    transition: background-color 0.3s ease; 
}
.course_container:hover {
    background-color: rgb(49, 49, 49); /* Change background color on hover */
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

    
}

.course_img{
    /* border: 1px solid; */
    /* background-color: lavender; */
    
  

}
h1{
    font-size: 30px;
    font-weight: 300;
}
h3{
    font-size: 15px;
    font-weight: 200;
}
.course_content{

    /* border: 1px solid; */
padding-top: 20px;
padding-left: 20px;

}

.gap{

    height: 50px;
}
.course_links{
    text-decoration: none !important;
    color: black !important; 
}
.button_price {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgb(208, 208, 211) 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 5px;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    top: 14px;
  }

  

@media (min-width: 768px) {
    .button-73 {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
  }
  :root {
      --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
      --motion-duration: 0.3s;
    }
    
    
    
    .button_cart{
      appearance: none;
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      font: inherit;
      font-weight: 500;
      line-height: 1;
      
      padding: 10px;
      position: relative;
      
      transition: filter var(--motion-duration);
    }
    
    .button_cart:hover {
      filter: brightness(1.1);
    }
    
    .button_cart:active {
      filter: brightness(0.9);
    }
    
    .button_cart > span {
      display: block;
      position: relative;
      transition: transform var(--motion-duration) var(--motion-ease);
      z-index: 1;
    }
    
    .button_cart:hover > span {
      transform: scale(1.1);
    }
    
    .button_cart:active > span {
      transform: scale(0.97);
    }
    
    .button_cart > svg {
      fill: rgb(30, 28, 28);
      position: absolute;
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
      
    }
    
    .button_cart > svg > path {
      transition: var(--motion-duration) var(--motion-ease);
    }
    
    .button_cart:hover > svg > path {
      d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
    }
    
    .button_cart:active > svg > path {
      d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
    }
  .button_move{
    position: relative;
    left: 120px;
    bottom: 20px;
  }


  
  .already_bought_message{
    position: relative;
    left: 250px;
   bottom: 50px;
  
 
  
  }