{% extends "base.html" %}
{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
 <link rel="stylesheet" href="{% static 'css/development.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- development_template.html -->

<div class="Category_title">

<h1>{{cate}} Courses</h1>
</div>


{% for course, p in zipped_data %}


<a class="course_links" href="{% url 'course_details' course.course_id %}">
    

<div class="course_container">
<div class="course_img">
    {% comment %} C:\Users\Kavyasri\OneDrive\Documents\finaldbms\ignitio\media\images\deca_3_31GhnLY.jpg {% endcomment %}
    <img src="{{course.course_image.url}}" alt="" height="270px" width="240px">
</div>

<div class="course_content">
    <h1>{{ course.course_name }}</h1>
    
    
    <h3>Instructor: {{ course.instructor_first_name }} {{ course.instructor_last_name }}</h4>
    {% comment %} <h3>Instructor: {{ course.instructor.first_name }} {{ course.instructor.last_name }}</h4> {% endcomment %}

<br>
    <p>{{course.course_description}}</p>
    <span class="button_price">  &#8377;{{course.course_price}}</span>

    
    {% if p %}

    <div class="button_move">
        <button class="button_cart">
            <span>Go to course</span>
            <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
              <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
            </svg>
          </button>
        </div>
                <div class="already_bought_message">
                    <i class="fa fa-info-circle"></i>  <i>This course has already been bought</i>
                </div>
    {% else %}
                <form action="{% url 'add_to_cart' course.course_id %}" method="post">
                    {% csrf_token %}
                    <div class="button_move">
                        <button class="button_cart">
                            <span>Add to cart</span>
                            <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                                <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
                            </svg>
                        </button>
                    </div>
                </form>
    {% endif %}


</div>


</div>
</a>
<div class="gap">

</div>

{% endfor %}
</body>
</html>
{% endblock body %}