{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/messsages.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  
</head>
<body>
    {% if messages %}
    <div class="messages-container">
        <h1>this is k8 trial</h1>
      {% for message in messages %}
          <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
              {{ message }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i style="font-size:16px; color:black;" class="fa cancel-icon" onclick="removeMessage(this)">&#xf00d;</i>
          </div>
      {% endfor %}
  </div>
{% endif %}
    {% comment %} <div class="h1_tahs"><h1>Login</h1></div> {% endcomment %}
    
    <form action="" method="POST">
        {% csrf_token %}
        
        <div>
            <input type="text" name="username" id="username" class="da" placeholder="Enter your username">
        </div>
        
        <div>
            <input type="password" name="password" id="password" class="da" placeholder="Enter your password" >
        </div>

        <a class= "new_acc"href="{% url 'register' %}">Create a new account</a>.
        <div class="button_move">
            <button class="button_cart">
                <span>Login</span>
                <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                  <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
                </svg>
              </button>
            </div>
    </form>
    <script>
        function removeMessage(icon) {
            // Get the parent message div and remove it
            var messageDiv = icon.parentNode;
            messageDiv.parentNode.removeChild(messageDiv);
        }
    </script>
    
</body>
</html>